[submodule "sense-voice/csrc/third-party/ggml"]
	path = sense-voice/csrc/third-party/ggml
	url = https://github.com/ggerganov/ggml.git
[submodule "sense-voice/csrc/third-party/whisper.cpp"]
	path = sense-voice/csrc/third-party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
